.banner-2{
    height:650px;
    width:100%;
    background-image: url(/Project/img/download-bg.jpg);
    opacity:1.5;
    background-repeat: no-repeat;
    object-fit:fill;
    background-size:cover;
    background-position: center;
    position:relative;
}
.banner-2-heading{
    padding-top:70px;
}
.banner-2-heading>p, .banner-2-heading>h1{
    margin:0;
    padding:0;
}
.b2c{
    width:90%;
    margin-top:80px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.list-1>h3, .list-2>h3, .list-3>h3, .list-4>h3{
    font-weight:bold;
    font-size:20px;
    height:40px;
    width:40px;
    text-align: center;
    padding:5px;
    border-radius:50%;
}
.banner-2-heading>img{
    display:none;
}
.b2c1, .b2c2{
    width:32%;
}
.list-1 , .list-2, .list-3, .list-4{
    display:flex;
    margin-top:30px;
}
.list-3>p, .list-4>p{
    text-align: end;
}
.list-1>p>span, .list-2>p>span, .list-3>p>span, .list-4>p>span{
    display: inline-block;
}
.b2c>img{
    position:absolute;
    top:31%;
    left:40%;
    border-top-left-radius:45px;
    border-top-right-radius:45px;
}


@media only screen and (max-width:991px){
    .banner-2{
        height:100%;
        width:100%;
        background-image: none;
        background-color:black;  
        position:relative; 
    }
    .b2c{
        margin-top:10px;
        padding-bottom:30px;
        display:flex;
        flex-direction:column;
    }
    .b2c>img{
        display: none;
    }
    .b2c2{
        margin-top:300px;
    }
    .banner-2-heading>img{
        display: initial;
        height:250px;
        width:350px;
        position:absolute;
        top:45%;
        left:32%;
    }
    .b2c1, .b2c2{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width:100%;
    }
    .list-1>h3, .list-2>h3, .list-3>h3, .list-4>h3{
        display:none;
    }
    .list-1>p, .list-2>p ,.list-3>p, .list-4>p{
        text-align:center;
    }
}

@media only screen and (max-width:767px){
    .banner-2-heading>img{
        position:absolute;
        top:45%;
        left:25%;
    }
}

@media only screen and (max-width:575px){
    .banner-2-heading>img{
        position:absolute;
        top:45%;
        left:20%;
    }
}