.taxi-card{
    height:650px;
    width:100%;
    padding:50px 0px 100px 0px;
    background-color: rgb(241, 239, 239);
}
.taxi-card>h1, .taxi-card>p{
    margin:0;
    padding:0;
}
#ca{
    position:relative;
    display:flex;
    justify-content:center;
    margin:60px 0px 60px 0px;
}
.t-card{
    margin-right:30px;
    height:350px;
    width:270px;
    padding:20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:5px;
}
.t-card:hover{
    box-shadow: 0px 0px 10px white,
    0px 0px 3px black;
}
.t-card>img{
    height:120px;
    width:180px;
}
.taxi-3{
    border: 3px solid rgb(250, 186, 23);
    width:270px;
    margin-right:30px;
    border-radius:5px;
}
.taxi-3:hover{
    box-shadow: 0px 0px 10px white,
    0px 0px 5px rgb(250, 186, 23);
}
#t-3{
    height:345px;
    width:263px;
}


